name: schedule-update

on:
  workflow_dispatch:
  schedule:
    # 北京时间8-23点每小时0分执行一次（对应utc时间0-15）
    # - cron: "0 0-15 * * *"
    # 每小时整点执行
    - cron: "0 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai

    steps:
      # 克隆仓库
      - name: Clone repo
        uses: actions/checkout@v2

      # 配置python环境
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      # 安装python依赖
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      # 配置git
      - name: Config git
        run: |
          git config --local user.email "bot@github.com"
          git config --local user.name "bot"
          git remote set-url origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git pull --rebase

      # 运行
      - name: Run python
        run: python main.py

      # 更新仓库
      - name: Update repo
        run: |
          git add .
          git commit -m "update by github action"
          git push -u origin main
